<h1 id="contact-header">Contact Us For More Information</h1>

<form>
  <div class="row">
    <div class="col">
      <input name="First name" type="text" class="form-control" placeholder="First Name">
    </div>
    <div class="col">
      <input name="Last name" type="text" class="form-control" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group", id="email-form">
    <input name="Email" type="email" class="form-control" id="email-input" placeholder="Email Address">
  </div>
  <div class="form-group", id="phone-form">
    <input name="Tel" type="tel" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="phone-input" placeholder="Phone Number ex. 123-456-7890">
  </div>
  <div class="form-group", id="message-form">
    <textarea name="Message" class="form-control", rows="10", placeholder="Message"></textarea>
  </div>
  <button>Submit</button>
</form>