
body {
  background-image: asset-url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  background: rgba(230, 255, 247, 0.5);
  height: 40px;
  padding: 8px;
}

nav > ul {
  list-style-type: none;
}

.container {
  display: flex;
  align-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.container > li {
  flex: 1;
}

@media all and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }
  .container > li {
    flex-basis: 50%;
  }
}

@media all and (max-width: 400px) {
  .container > li {
    flex-basis: 100%;
  }
  .search {
    order: 1;
  }
}

#contact-header {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 35px;
  text-decoration: underline;
  font-weight: bold;
}

#email-form {
  padding-top: 15px;
}